body {
    margin: 0;
}

.global-container {
    background-color: #f0f2f5;
    height: 100vh;
}

.container {
    padding-top: 50px;
    width: 100%;
}

.reg {
    background-color: white;
    border-radius: 8px;
    box-shadow: -5px 5px 20px -5px lightgrey;
    margin: 0 auto 20px auto;
    position: relative;
    width: 432px;

    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
}

.img {
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 2;
}

.title {
    padding: 10px 16px;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
}

.title_text {
    color: #606770;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
}

.reg-box {
    width: 432px;
    padding: 16px;
    box-sizing: border-box;
    border-top: 1px solid #dadde1;
}

.textarea {
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    background-color: #f5f6f7;

    color: #8d949e;
    font-size: 15px;
    line-height: 16px;
    margin: 0;
}

.full-name_input {
    padding: 11px;
    width: 170px;

}
/* #firstname {
    outline: none;
} */

.full-name {
    display: flow-root;
    margin-bottom: 10px;
}

.name-first {
    margin-right: 8px;
    float: left;
    width: 196px;
    
}

.name-last {
    width: 196px;
    float: right;
    
}

.mobile-email,
.password, .birthday, .gender { 
    margin-bottom: 10px; 
}

.mobile-email_input,
.password_input {
    padding: 11px;
    width: 375px;
}

.birthday, .gender {
    font-size: 12px;
    line-height: 20px;
}

.mbottom {
    margin-bottom: 4px;
}

.gender_wrapper, .birthday_wrapper {
    display: flex;
    /* width: 100%; */
}

.gender_radio, .birthday_select {
    border: 1px solid #ccd0d5;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 4px;
    flex: 1 1 auto;
    /* margin: 8px 6px 6px; */
    margin-right: 15px;
    height: 36px;
    /* width: auto; */
    position: relative;
    font-size: 15px;
}

.gender_radio:last-child, .birthday_select:last-child {
    margin-right: 0;
}

.gender-label {
    box-sizing: border-box;
    font-size: 15px;
    line-height: 36px;
    padding: 0 28px 0 10px;
    width: 100%;
}

.radio-btn {
    height: 36px;
    margin: 0;
    right: 10px;
    position: absolute;
}

.policy {
    color: #777;
    font-size: 11px;
}

.btn-container {
    text-align: center;
    margin-bottom: 20px;
}


.btn {
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    padding: 0 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 194px;
}

  .error-firstname, .error-lastname, .error-mobileEmail, .error-password {
    color: red;
    font-size: 14px;
  }

  .error-field {
    border-color: red;
  }